
@{
    ViewBag.Title = "Giới thiệu";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Cửa hàng</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Intro</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    <div class="row">
        <div class="col">
            <h2>Thông tin liên hệ</h2>
            <p>Tên: Huỳnh Phước Hải</p>
            <p>SĐT:0333.569.388</p>
            <p>Email: huynhtuanhai05042001@gmail.com</p>
        </div>
        
    </div>

    
</div>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}

